.btn1 {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid red;
  padding: 10px;
  margin-right: 10px;
  float: right;
}

.btn2 {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid red;
  padding: 10px;
  float: right;
  margin-right: 10px;

}

.container{
    text-align: left; /* Center align the content */
    background-color: white;
    background-size: cover;
    color: rgb(16, 14, 14);
    margin: auto;
    border-radius: 25px;
    border: 2px solid orange;
    padding: 5px;
    width: 600px;
    height: 440px;
  }

.all-text input {
  width: 100%; /* Full width within parent container */
  margin-bottom: 10px; /* Add spacing between inputs */
}

.time-text input {
  width: 290px;
}

.submit-text input {
  width: 100%;
  height: 35px;
  color: white;
  background-color: orange;
  border: none; /* Remove the border */
}


body {
  background: url("bg/bg4.webp");
  background-size: cover;
  padding: 10px
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: orange;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 11px;
  text-align: center;
}
